Checks: >
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  -cert-err33-c,
  -cert-err34-c,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling

WarningsAsErrors: ''

CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 3
